# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.egg-info/
.build/
dist/
.venv/
venv/
.env
.env.*
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.cache/

# Data
data/
datasets/*
!datasets/README.md

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
